{% extends 'catalog/base.html' %}

{% block title%}Информация о категории{% endblock %}

{% block content %}
<div class="container mt-5">
        <h3 class="mb-3">Удаление категории</h3>
        <p>Вы действительно хотите удалить {{ category.name }}?</p>
       <form method="post" action="{% url 'catalog:category_delete' category.pk %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger"> Подтвердить </button>
            <a href="{% url 'catalog:category_list' %}" class="btn btn-primary"> Отменить </a>
        </form>
    </div>
{% endblock %}
