{% extends 'catalog/base.html' %}

{% block title%}Главная{% endblock %}

{% block content %}
{% include 'catalog/header.html' %}
    <div class="text-center">
        <h4 class="text-body-secondary">Твой правильный выбор.</h4>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <blockquote class="blockquote">
                <p><h3 class="card-title p-3 text-center ">Почему выбирают нас?</h3></p>
            </blockquote>
            <blockquote class="blockquote mx-5 mt-5 text-center">
                <p><h4 class="card-title p-1 mt-3">Широкий ассортимент</h4><img src="https://img.icons8.com/?size=48&id=85496&format=png"></p>
            </blockquote>
            <blockquote class="blockquote mx-5 mt-1 text-center">
                <p><h4 class="card-title p-1 text-center">Качество и надежность</h4><img src="https://img.icons8.com/?size=48&id=85496&format=png"></p>
            </blockquote>
            <blockquote class="blockquote mx-5 mt-1 text-center">
                <p><h4 class="card-title p-1 text-center">Консультации экспертов</h4><img src="https://img.icons8.com/?size=48&id=85496&format=png"></p>
            </blockquote>
            <blockquote class="blockquote mx-5 mt-1 text-center">
                <p><h4 class="card-title p-1 text-center">Удобные условия покупки</h4><img src="https://img.icons8.com/?size=48&id=85496&format=png"></p>
            </blockquote>
        </div>
        <div class="col-5 text-center mt-3">
            <img src="https://cdn-icons-png.flaticon.com/128/4412/4412252.png">
            <blockquote class="blockquote">
                <p><h4 class="card-title p-3">Добро пожаловать в наш интернет-магазин. Погрузитесь в мир чистого звука и высококачественной аудиотехники! </h4>
            </p>
            </blockquote>
            <p class="card-text">Мы рады предложить вам широкий ассортимент колонок, наушников и звуковых динамиков, которые удовлетворят даже самых требовательных меломанов. Наша цель — сделать ваше аудиоопыт незабываемым, предоставив только лучшие продукты от ведущих брендов.</p>
        </div>
        <div class="col-1">

        </div>
        <div>
            <div class="row">
                <div class="col-12 mt-2 mx-4">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/9992/9992134.png">



                </div>
            </div>
        </div>
    </div>
    {% if products %}
        <div class="row mt-5">
            {% for product in products %}
                <div class="col-3 mt-3">
                    <h4 class="mt-4">{{ product.name }}</h4>
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid img-thumbnail">
                    {{ product.description|truncatechars:100 }}
                    <h6>Категория: {{ product.category }}</h6>
                    <h6>Цена: {{ product.purchase_price }} рублей</h6>
                    <button class="rounded text-center w-100 btn btn btn-outline-info border border-secondary-subtle"><a  class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0" href="#">Перейти</a></button>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Нет доступных продуктов.</p>
    {% endif %}

{% endblock %}
