<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="bg-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-5 bg-body">
                            <div class="row">
                                <div class="col-12 bg-body">
                                    <div class="row">
                                        <div class="col-3">
                                            <h6 class="text-center mt-2">
                                                <a href="file:///C:/Users/ЗС/PycharmProjects/project_django2/catalog/templates/catalog/home.html" class="link-offset-2 link-underline link-underline-opacity-0 link-dark">Главная</a>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="text-center mt-2">
                                                <a href="file:///C:/Users/ЗС/PycharmProjects/project_django2/catalog/templates/catalog/home.html" class="link-offset-2 link-underline link-underline-opacity-0 link-dark">Акции</a>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="text-center mt-2">
                                                <a href="file:///C:/Users/ЗС/PycharmProjects/project_django2/catalog/templates/catalog/home.html" class="link-offset-2 link-underline link-underline-opacity-0 link-dark">Корзина</a>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="text-center mt-2">
                                                <a href="file:///C:/Users/ЗС/PycharmProjects/project_django2/catalog/templates/catalog/home.html" class="link-offset-2 link-underline link-underline-opacity-0 link-dark">Каталог</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2"> <h6 class="text-center mt-1">
                                                        <img src="https://img.icons8.com/?size=32&id=M7BZdWds6ih6&format=png">
                                                        <img src="https://img.icons8.com/?size=32&id=53298&format=png">
                                                        <img src="https://img.icons8.com/?size=32&id=43759&format=png">
                                                        <img src="https://img.icons8.com/?size=32&id=57286&format=png">
                                            </h6>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-12 bg-body">
                                    <div class="row">
                                        <div class="col-3">
                                            <h6 class="text-center mt-2">
                                                <a href="file:///C:/Users/ЗС/PycharmProjects/project_django2/catalog/templates/catalog/home.html" class="link-offset-2 link-underline link-underline-opacity-0 link-dark">О нас</a>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="text-center mt-2">
                                                <a href="file:///C:/Users/ЗС/PycharmProjects/project_django2/catalog/templates/catalog/contacts.html" class="link-offset-2 link-underline link-underline-opacity-0 link-dark">Контакты</a>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="text-center mt-2">
                                                <a href="file:///C:/Users/ЗС/PycharmProjects/project_django2/catalog/templates/catalog/home.html" class="link-offset-2 link-underline link-underline-opacity-0 link-dark">Отзывы</a>
                                            </h6>
                                        </div>
                                        <div class="col-3">
                                            <h6 class="text-center mt-2">
                                                <a href="file:///C:/Users/ЗС/PycharmProjects/project_django2/catalog/templates/catalog/home.html" class="link-offset-2 link-underline link-underline-opacity-0 link-dark">Профиль</a>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-dark">
        <span class="border border-white"></span>
    </div>
    <div class="text-center mt-2">
        <h1 class="text-dark">RIGHT</h1>
    </div>
    <div class="text-center">
        <h4 class="text-body-secondary">Cделай правильный выбор.</h4>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <blockquote class="blockquote">
                <p><h3 class="card-title p-3 text-center ">Почему выбирают нас?</h3></p>
            </blockquote>
            <blockquote class="blockquote mx-5 mt-5 text-center">
                <p><h4 class="card-title p-1 mt-3">Широкий ассортимент</h4><img src="https://img.icons8.com/?size=48&id=85496&format=png"></p>
            </blockquote>
            <blockquote class="blockquote mx-5 mt-1 text-center">
                <p><h4 class="card-title p-1 text-center">Качество и надежность</h4><img src="https://img.icons8.com/?size=48&id=85496&format=png"></p>
            </blockquote>
            <blockquote class="blockquote mx-5 mt-1 text-center">
                <p><h4 class="card-title p-1 text-center">Консультации экспертов</h4><img src="https://img.icons8.com/?size=48&id=85496&format=png"></p>
            </blockquote>
            <blockquote class="blockquote mx-5 mt-1 text-center">
                <p><h4 class="card-title p-1 text-center">Удобные условия покупки</h4><img src="https://img.icons8.com/?size=48&id=85496&format=png"></p>
            </blockquote>
        </div>
        <div class="col-5 text-center mt-3">
            <img src="https://cdn-icons-png.flaticon.com/128/4412/4412252.png">
            <blockquote class="blockquote">
                <p><h4 class="card-title p-3">Добро пожаловать в наш интернет-магазин. Погрузитесь в мир чистого звука и высококачественной аудиотехники! </h4>
            </p>
            </blockquote>
            <p class="card-text">Мы рады предложить вам широкий ассортимент колонок, наушников и звуковых динамиков, которые удовлетворят даже самых требовательных меломанов. Наша цель — сделать ваше аудиоопыт незабываемым, предоставив только лучшие продукты от ведущих брендов.</p>
        </div>
        <div class="col-1">

        </div>
        <div>
            <div class="row">
                <div class="col-12 mt-2 mx-4">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/9992/9992134.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">
                    <img src="https://cdn-icons-png.flaticon.com/128/865/865548.png">

                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>
</html>