{% extends 'catalog/base.html' %}

{% block title%}Информация о продукте{% endblock %}

{% block content %}
<div class="row rounded mt-3">
    <h4>{{ product.name }}</h4>
    <div class="col-6">
        <p><img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid img-thumbnail"></p>
    </div>
    <div class="col-6 text-end">
        <p class="lead text-start">Категория: {{ product.category }}</p>
        <p class="text-start lead">{{ product.description }}</p>
        <p class="fs-1 mt-4 text-end">Цена: {{ product.purchase_price }} рублей</p>
            <button type="button" class=" text-start btn btn-info btn-lg">Оформить заказ</button>
            <button type="button" class=" text-start btn btn-outline-info btn-lg">Добавить в корзину</button>
        <button class="btn btn-primary btn-lg "><a href="{% url 'catalog:product_list'%}" class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0 mt-4 mx-1 ">Вернуться к списку</a></button>
            <button class=" btn btn-secondary btn-lg mt-4 mx-1"><a href="{% url 'catalog:product_update' product.pk %}" class="link-body-emphasis link-offset-2 link-underline link-underline-opacity-0 mt-4 mx-1 ">Редактировать</a></button>
            <button class="btn btn-outline-danger btn-lg mt-4 mx-1"><a href="{% url 'catalog:product_delete' product.pk %}" class="link-danger link-offset-2 link-underline link-underline-opacity-0 mt-4 mx-1 ">Удалить</a></button>

    </div>
</div>
{% endblock %}